.footer-container {
    background-color: #a288a6;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: right;
    box-sizing: border-box;
    padding-right: 2rem;
    
    h2 {
        margin: 0;
        color:#1c1d21;
    }
}
