.splashcard-container {
    display: flex;
    flex-direction: column;
    border: border-box;
    border: 2px solid #000000;
    padding: 6px;
    flex-basis: 25%; // Adjust the percentage value as needed
    figure {
        flex-grow: 2; // Make the figure occupy 2/3 of the container
    }
    figcaption {
        margin: 0;
        color: #000000;
        flex-grow: 1; // Make the figcaption take up remaining space
    }
}